* {
  box-sizing: border-box;
}

body,
html {
  background-color: #f1f1f1;
  background-image: url('./img/mainIicon-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
input {
  outline: none;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.invalid {
  border: 3px solid red;
}
.valid {
  border: 3px solid green;
}

.specialization-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
  font-size: x-large;
  color: gray;
}

input {
  padding: 10px;
  width: 450px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.tab {
  display: none;
}

.validateBtn {
  background-color: #337ab7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  /* display: block; */
  display: flex;
  justify-content: center;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;

  text-align: center;
  width: 500px;

  background-color: white;
}

.wrapper-select {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 600px;
  height: 350px;
  background-color: white;
}
.moving {
  position: absolute;
  visibility: hidden;
  transform: translateX(-50%);
}
.show {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.wrapper-input:not(:last-child) {
  margin-bottom: 20px;
}
.invalid {
  border-color: red;
}
#error {
  color: red;
}
#first {
  margin-top: 20px;
  padding: 10px;
  width: 450px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  outline: none;
}
#second {
  margin-top: 15px;
  padding: 10px;
  width: 450px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  outline: none;
}

.select-next {
  background-color: #337ab7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;

  display: flex;
  justify-content: center;

  margin-right: 15px;
}
.field-position {
  margin-left: 70px;
}
.invisible {
  transform: translateX(-50%);
}
.text-position {
  text-align: center;
  margin-bottom: 0px;
  color: grey;
}

.show-check {
  display: block;
}
.move-left {
  display: none;
}

#container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.text-doubleCheck {
  text-align: center;
}
#container > p {
  text-align: center;
  font-size: x-large;
}

.btn-position {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.send-localStorage {
  background-color: #337ab7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.option-next {
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
