html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

.form-inline {
  text-align: center;
}
.form_country {
  display: flex;
  justify-content: center;
}

.flag {
  width: 300px;
  height: 300px;
}

.text {
  font-weight: bold;
}

.form-control {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin: 40px;
  width: 538px;
}

.listCountry {
  font-size: 24px;
  font-weight: bold;
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
}

.isHidden {
  display: none;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
}
.gallery li {
  margin: 20px;
}

.photo-card {
  margin-right: 20px;
}
.stats {
  display: flex;
}

.stats-item {
  margin-right: 15px;
}
